<mat-toolbar color="primary">
  <span routerLink="/" style="cursor:pointer">EventHub 🎫</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <ng-container *ngIf="authService.currentUser$ | async as user">
    <button mat-button routerLink="/dashboard">I miei Biglietti</button>
    <!-- Tasto per la Dashboard Organizzatore -->
    <button mat-button *ngIf="user.role === 'organizer' || user.role === 'admin'" routerLink="/organizer">Gestione Eventi</button>
    <button mat-button *ngIf="user.role === 'organizer' || user.role === 'admin'" routerLink="/create-event">Crea Evento</button>
    <button mat-icon-button (click)="authService.logout()"><mat-icon>logout</mat-icon></button>
  </ng-container>
  <ng-container *ngIf="!(authService.currentUser$ | async)">
    <button mat-button routerLink="/login">Login</button>
    <button mat-raised-button color="accent" routerLink="/register">Registrati</button>
  </ng-container>
</mat-toolbar>
