/* Importa un tema predefinito di Angular Material */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
